<style>
    #submit{
        margin-left: 600px;
    } 
    #loginID{
       margin-left: 550px
    }
</style>
<html>
<h1 style="text-align: center">MOS.</h1>
<h2 style="text-align: center">Welcom</h2>
<h3 style="text-align: center">Go to Searching Page</h3>
<input id="loginID" name = "loginID" type="text"><br>
<input id="submit" name="submit" type="submit" value="Submit">
</html>
